<div class="login-page">
  <div class="form-container mat-elevation-z2">
    <div>
      <h1 class="header">Login</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <input matInput placeholder="Email address" formControlName="email" />
          <mat-error *ngIf="loginForm.get('email')!.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')!.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput autocomplete type="password" placeholder="Password" formControlName="password" />
          <mat-error *ngIf="loginForm.get('password')!.hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('password')!.hasError('minlength')">
            Password must be at least 6 characters long
          </mat-error>
        </mat-form-field>
        <div class="center margin-top">
          <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
