.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-image: url(https://img.freepik.com/free-vector/gradient-connection-background_52683-116380.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706400000&semt=ais);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-container {
  max-width: 350px;
  background: #ffffff;
  padding: 48px;
  border-radius: 5px;
}

.form-container mat-form-field {
  width: 100%;
}

button {
  width: 100%;

}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top {
  margin-top: 16px;
}

.text-center {
  text-align: center;
}


