  .tooltip {
    position: absolute;
    background: rgb(255, 255, 255);
    padding: 5px;
    border: 1px solid #999;
    display: none;
  }
  
  svg {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 10px;
    width: 100%;
  }

  .red-cell {
    background: #EB401D !important;
  }
  
  .green-cell {
    background: #2F7F18 !important;
  }

  .bule-cell {
    background: #2F00F9 !important;
  }

  .yellow-cell {
    background: #FCFF42 !important;
  }

