.error-message{
    color:red;
}

.file-input {
    display: none;
  }

.upload_section{
    display: flex;
}
.file-upload{
    margin-top: 16px;
}
.submit-button {
    margin-top: 23px;
}

mat-icon {
    margin-top: 12px;
    margin-right: 12px 
}

form {
    margin-left: 20px 
}