<div>
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" >
    <div class="upload_section">
        <mat-icon (click)="fileInput.click()" >cloud_upload</mat-icon>
        <input type="file"  class="file-input" #fileInput  id="file" (change)="onFileChange($event)" accept=".csv" />
      <div class="file-upload">
        {{fileName || "No file uploaded yet."}}
      </div>
    </div>
    <button type="submit" class="submit-button" color="primary" mat-raised-button>Submit</button>
  </form>
  <mat-error *ngIf="errorMessage" class="error-message">{{ errorMessage }}</mat-error>
</div>